{{# if products}}
    <div class="container">
<div class="row justify-content-center">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul class="list-group">
            {{# each products }}
                  <li class="list-group-item">
                <span class="badge badge-dark float-right">{{ this.qty }}</span>
                <strong>{{ this.item.title }}</strong>
                <span class="badge badge-success">{{ this.price }}</span>
                <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/remove-one-cart/{{ this.item._id }}">Reduce by 1</a>
                        {{!-- <a class="dropdown-item" href="/remove-all/{{ this.item._id }}">Remove all</a> --}}
                    </div>
                    </div>
                    </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="container">
<div class="row justify-content-center">
     <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
         <strong>Total: {{ totalPrice }} </strong>
     </div>
</div>
</div>
<hr>
<div class="container">
<div class="row justify-content-center">
     <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
         <a href="/user/checkout" class="btn btn-success" type="button">Checkout</a>
     </div>
</div>
</div>
</div>
{{else}}
    <div class="container">
<div class="row justify-content-center">
     <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
         <h2>No items in cart</h2>
     </div>
</div>
</div>
</div>
{{/if}}

